name: "Api: Tests"

defaults:
  run:
    working-directory: "api"

on:
  workflow_dispatch: ~
  pull_request:
    paths:
      - ".github/workflows/api.tests.yaml"
      - "api/**"
  push:
    paths:
      - ".github/workflows/api.tests.yaml"
      - "api/**"
    branches:
      - "main"

permissions:
  contents: read

concurrency:
  group: ${{ github.head_ref || github.run_id }} ~ "api.tests.yaml"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Docker compose"
        uses: isbang/compose-action@v2.0.1
        with:
          compose-file: |
            api/docker-compose.ci.yaml

      - name: Wait for services to be healthy
        run: |
          chmod +x ./docker/wait-for-services.sh
          ./docker/wait-for-services.sh

      - name: Display node-app logs
        run: docker compose logs node-app

      - name: Check node-app status
        run: docker compose ps node-app

      - name: Prepare test environment
        run: docker compose exec -T node-app npm run test:setup

      - name: Run tests
        run: docker compose exec -T node-app npm test